body{
font-family: 'Vollkorn', serif;
}
/*Header Section*/
.header{
	background: #e9c9cf;
}
.header img{
	width: 120px;
	height: auto;
}
.navigation{

}
.navigation ul{
	bottom: 0;
	text-align: right;
}
.navigation ul li{
	display: inline-block;
	list-style-type: none;
}
.navigation ul li a{
	text-decoration: none;
	color: black;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 0 25px;
	line-height: 64px;
	transition: .5s;

}
.navigation ul li a:hover{
	color: crimson;
}
/*Banner Section*/
.banner{
	background: url('lum3n--RBuQ2PK_L8-unsplash.jpg');
	padding: 360px 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner h2{
	color: mintcream;
	padding: 30px 0;
	font-size: 40px;
	font-family: cursive;
}
.banner h1{
	color: darkcyan;
}
/*About Sction*/
.about{
	background: #efe7e1;
}
.about h2{
	font-size: 40px;
}
.about .blank{
	border-radius: 5px;
	width: 90px;
	height: 5px;
	margin: 0 auto;
	background: red;
}
.about p{
	margin-top: 15px;
	font-size: 22px;
	font-family: cursive;
	text-align: justify-all;
}
/*Service Section*/
.service{
	background: #f9e9db;
}
.service .box{
	transition: .8s;
}
.service span{
	font-size: 50px;
	color: blue;
}
.service p{
	font-size: 18px;
	padding: 0 10px;
	text-align: justify;
}
.bot{
	margin-top: 20px;
}
.box:hover{
	background: -webkit-linear-gradient(-45deg, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10-25,Safari5.1-6 */	
	box-shadow: 0 15px 30px 0 rgb(94, 84, 84);
}
.survice span .one{
	color: yellow;
}
.one{
	color: #F16529;
}
.two{
	color: #1572B6;
}
.tree{
	color: blueviolet;
}
.four{
	color: #EFD81D;
}
.five{
	color: #00D8FF;
}
.six{
	color: #4787B9;
}
/*Portfolio Content*/
.product img{
	width: 100%;
}
.product{
	background: #fcf5ed;
}
.product p{
	font-size: 22px;
	text-align: justify;
}
/*Contuct content*/
.contuct{
	background: #efe8e6;
}
/*Footer content*/
.footer{
	background: #5e5454;
}
.footer p{
	margin-bottom: 0;
}
.footer a{
	color: white;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
}
.footer a:hover{
	color: blue;
}
